header {

}

h3 {
  margin: 15px auto;
}

img {
  margin-top: 15px;
}

.img-sec-liv {
  max-height: 150px;
}

.row {
  width: 100%;
}

.row img {
  max-height: 150px;
}

.grigio {
  background-color: #F9F9F9;
}

.title {
  text-align: center;
  min-height: 30px;

}

.livello-uno::after {
  content: "";
  display: table;
  clear: both;
}

.secondorow img {
  min-width: 200px;

}
